* {
  margin: 0;
}

article {
  height: fit-content;
  margin: 5% 3%;
  border: 1px solid #dddddd5c;
  border-radius: 1%;
  background-color: whitesmoke;
  display: inline-grid;
  width: 95%;
}

.img-container > img {
  height: auto;
  width: 100%;
  border-radius: 1% 1% 0 0;
}

.article-btn-container {
  position: relative;
  z-index: 10;
  left: 82%;
  top: 0;
  width: 15%;
  padding: 5px;
}

.favorite-btn {
  height: 4vh;
  width: auto;
}

.card-info {
  padding: 1.5%;
  margin: -10% 1% 4% 1%;
  display: block;
  text-align: -webkit-left;
}

.card-info > h2 {
  font-size: .75em;
  width: 70%;
}

.card-info > h3 {
  font-size: .65em;
  width: 70%;
}

.card-info > p {
  font-size: .65em;
  text-align: start;
  padding: 1.5% 0;
}