header {
  width: 100%;
  height: 13vh;
  border-bottom: 2px solid #808080c4;
  position: fixed;
  z-index: 15;
  background-color:#000000d1;
  color: whitesmoke;
}

h1 {
  height: 7vh;
  padding: 3vh;
  margin: 1vh;
}

.btn-container {
  position: relative;
  z-index: 14;
  top: -7vh;
  left: 80vw;
  width: 15vw;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

button {
  margin: 0;
}


@media screen and (max-width: 750px) {
  .btn-container {
    left: 72vw;
    width: 20vw;
    padding: 1%;
  }
}


@media screen and (max-width: 520px) {
  h1 {
    padding: 1vh 3vh;
  }

  .btn-container {
    top: -3vh;
    left: 62vw;
    width: 25vw;
    padding: 1%;
  }
}

@media screen and (max-width: 420px) {
  .btn-container {
    left: 59vw;
    width: 28vw;
  }
}

@media screen and (max-width: 380px) {
  .btn-container {
    left: 52vw;
    width: 34vw;
  }
}