main {
  /* width: 100vw; */
  height: fit-content;
  background-color: #dddddda1;
  /* display: flex; */
  overflow: auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}